<div class="navbar_m">
  <%= link_to root_path do %>
    <%= image_tag "home.png", class:"nav-icon" %>
  <% end %>
  <%= link_to root_path do %>
    <%= image_tag "loupe.png", class:"nav-icon" %>
  <% end %>
  <%= link_to root_path do %>
    <%= image_tag "ajout.png", class:"nav-icon" %>
  <% end %>
  <%= link_to root_path do %>
    <%= image_tag "mail.png", class:"nav-icon" %>
  <% end %>
  <%= link_to root_path do %>
    <%= image_tag "menu.png", class:"nav-icon" %>
  <% end %>

</div>
