<div class="blue-background">
  <h3>Accueil</h3>
  <div class="container page-container">
    <h4>Tous vos objets en location</h4>
    <%= link_to "Ajouter un objet", new_item_path, class:"add-item-button" %>
    <% @items.each do |item| %>
      <div class="item-card" data-id=<%= item.id %>>
        <div class="grid-item">
          <div class="image-item">
            Image Item
          </div>
          <div class="description-item">
            <h5>
              <%= item.name %>
            </h5>
            <p>
              <%= item.description %>
            </p>
          </div>
        </div>
        <%= link_to item_path(item), method: :delete do%>
          <i class="fas fa-trash-alt destroy-item-button"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>